name: 3.3.x | Framework Smoke Tests | Webmvc Tomcat
on:
  schedule:
    - cron : '10 0 * * *'
  workflow_dispatch:
jobs:
  webmvc_tomcat_test:
    name: Webmvc Tomcat Test
    uses: ./.github/workflows/smoke-test.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-lifecycle-smoke-tests
      checkout_ref: main
      project: framework:webmvc-tomcat
      task: test
  webmvc_tomcat_app_test:
    name: Webmvc Tomcat App Test
    uses: ./.github/workflows/smoke-test.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-lifecycle-smoke-tests
      checkout_ref: main
      project: framework:webmvc-tomcat
      task: appTest
  webmvc_tomcat_checkpoint_restore_app_test:
    name: Webmvc Tomcat Checkpoint Restore App Test
    uses: ./.github/workflows/smoke-test.yml
    secrets: inherit
    with:
      checkout_repository: spring-projects/spring-lifecycle-smoke-tests
      checkout_ref: main
      project: framework:webmvc-tomcat
      task: checkpointRestoreAppTest
